<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <br><br><h3>Listing Details</h3>
    <strong>Title:</strong> <%= listing.title %><br>
  </div>

  <div class="card card-listing col-6 offset-2">
    <img src="<%= listing.image.url %>" class="card-img-top" alt="...">

    <div class="card-body">
      <p><strong>Owned by : </strong>   <%= listing.owner.username %></p>
      <p>
        <strong>Description:</strong> <%= listing.description %><br>
        <strong>Price:</strong> ₹<%= listing.price %><br>
        <strong>Location:</strong> <%= listing.location %><br>
        <strong>Country:</strong> <%= listing.country %><br>
        <strong>Image:</strong> <%= listing.image %>
      </p>
     <% if(currUser && currUser._id.equals(listing.owner._id) ) { %>
      <div class="d-flex gap-5 ">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-outline-danger btn-lg">Edit listing</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button type="submit" class="btn btn-danger btn-lg ">Delete</button>
        </form>
      </div>
      <% } %>

    </div>
  </div>
</div>
<hr>
  <!-- review section  -->
<div class="col-8 offset-2">
  <% if(currUser) { %>
  <h4>Leave a Review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>
<div class="mb-3 mt-3">
  <label for="rate" class="form-label">Rating</label>
  <fieldset class="starability-slot">
    <input type="radio" id="no-rate" class="input-no-rate"
     name="review[rating]" value="1" checked aria-label="No rating." />

    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>

    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>

    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>

    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>

    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
</div>





    <div class="mb-3 mt-3">
      <label for="cmt" class="form-label">Comments</label>
      <textarea class="form-control" id="cmt" name="review[comment]" rows="3" required></textarea>
      <div class="invalid-feedback">Please leave your comment here!</div>
    </div>

    <button type="submit" class="btn btn-warning">Submit Review</button>
  </form>
   <% } %>
  <hr>
  <p><b>Reviews</b></p>

  <div class="row">
    <% for (review of listing.reviews) { %>
      <div class="card card-review col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%=review.author.username %></h5>
          <p class="starability-result card-text" data-rating=<%= review.rating %>></p>
          <p class="card-text">Comment: <%= review.comment %></p>
          
          <% if(currUser && currUser._id.equals(review.author._id)) { %>
          <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review.id%>?_method=DELETE" >
            <button type="submit" class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>

</div>
